<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <h1>
    <%= value %>
  </h1>
  
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="<%= first_name %>">
    <input type="text" name="lName" placeholder="<%= last_name %>">
    <input type="submit" value="OK">
    <button type="submit" formaction="/relode">Relode</button>
  </form>

</body>

</html>